@font-face {
    font-family: "Amatic";
    src: url('/fonts/AmaticSC-Bold.ttf');
}
@font-face {
    font-family: "Orbiton";
    src: url('/fonts/static/Orbiton-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap'); /**TODO Download font**/
body{
    background-color: #212529;
    color: #ffffff;
    font-family: "Kode Mono", monospace;
}
.logo-container{
    position: fixed;
    top: 0;
    left: 0;
    width: max-content;
    height: fit-content;
    padding: 2rem 3rem;
    font-size: 3rem;
    font-family: "Amatic", sans-serif;
}
.logo-container > a{
    text-decoration: none;
    color: #ffffff;
}
.logo-container > a:hover{
    color: #0488d4;
}
.main-container{
    width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 7vh;
    font-weight: 600;
}
h1{
    font-family: "Orbiton", sans-serif;
    font-size: 5rem;
    padding: 1.5rem 0;
}
#timer{
    font-size: 5rem;
    width: max-content;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border: 1px solid #404040;
    margin: auto;
    margin-bottom: 3rem;
}
#game-container{
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 30px;
}
.difficulty{
    font-family: "Orbiton", sans-serif;
    border: 1px solid #404040;
    font-size: 2rem;
}
.difficulty > p, .difficulty > div{
    padding: 1.2rem 2rem 1rem 2rem;
    background-color: rgba(50, 50, 50, 0.5);
    border-bottom: 1px solid #404040;
}
.difficulty > div{
    cursor: pointer;
}
.easy{
    color: #205124;
}
.easy:hover{
    color: #ffffff !important;
    background-color: #205124;
}
.medium{
    color: #453d00;
}
.medium:hover{
    color: #ffffff !important;
    background-color: #453d00;
}
.hard{
    color: #5e000c;
}
.hard:hover{
    color: #ffffff !important;
    background-color: #5e000c;
    border-bottom: none;
}
#game-container > div:not(.playing){
    display: grid;
    align-items: center;
    justify-content: center;
}
#start-btn{
    font-family: Orbiton, sans-serif;
    background-color: #198754;
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}
.countdown{
    font-size: 4rem;
}
.finish-screen{
    font-family: Orbiton, sans-serif;
    font-size: 2rem;
}
.finish-screen > p{
    padding: 0.3rem 0;
}
#play-again-btn{
    font-size: 1.2rem;
    color: #0488d4;
    cursor: pointer;
}
#game-container > div.playing{
    border: solid 1px #404040;
    display: grid;
    grid-template-rows: 1fr 4.2rem;
    text-align: end;
}
#question-container{
    display: grid;
    font-size: 2.5rem;
    letter-spacing: 5px;
    grid-template-columns: max-content 1fr;
    align-self: end;
    padding: 2rem;
    border-bottom: solid 1px #404040;
}
#question-container > div:nth-child(1){
    align-self: end;
}
#solution-container{
    padding: 0.5rem 2rem;
}
#solution-container > input{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 6px;
    width: 100%;
    text-align: right;
    background-color: transparent;
    border: none;
    padding: none;
    margin: none;
    color: #ffffff;
}
#solution-container > input:focus{
    outline: none;
    border-bottom: solid 2px #0488d4;
}